.history-page {
  margin-top: 8rem !important;
}
.card .card-body p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-right-culomn {
  background-color: #fff;
  height: 566px;
  margin-top: -36px;
}

.list-group-item.active {
  background-color: #bf40bf;
  border-color: #bf40bf;
}

time {
  position: relative !important;
  bottom: 37px !important;
  right: 458px !important ;
  color: #fff !important;
  background: black;
  padding: 2px 3px !important;
}

.history-page .remove {
  position: absolute;
  top: 10px;
  right: 13px;
  color: #2c3131c7;
  font-size: 24px;
  cursor: pointer;
}

.history-page .remove:hover {
  color: #fff;
}

 h4 {
    
  
  box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}
@media only screen and (max-width: 553px) {
  time {
    position: relative !important;
    bottom: 37px !important;
    right: 438px !important ;
    color: #fff !important;
    background: black;
    padding: 2px 3px !important;
  }
}
@media only screen and (min-width: 560px) {
  time {
    position: relative !important;
    bottom: 37px !important;
    right: 460px !important ;
    color: #fff !important;
    background: black;
    padding: 2px 3px !important;
  }
}
@media only screen and (max-width: 504px) {
  time {
    position: relative !important;
    bottom: 37px !important;
    right: 395px !important ;
    color: #fff !important;
    background: black;
    padding: 2px 3px !important;
  }
}
@media only screen and (min-width: 505px) and (max-width: 529px) {
  time {
    position: relative !important;
    bottom: 37px !important;
    right: 418px !important ;
    color: #fff !important;
    background: black;
    padding: 2px 3px !important;
  }
}
@media only screen and (min-width: 768px) {
  .img-fluid {
    margin-right: -12px;
    width: 260px;
    height: 197px;
  }

  .card .card-log {
    position: relative;
    right: -89px;
    bottom: -18px;
  }
  time {
    position: relative !important;
    bottom: -78px !important;
    right: -56px !important;
    color: #fff;
    background: black;
    padding: 2px 3px;
  }

  .card-icons .fa-play {
    position: absolute;
    top: 36%;
    right: 29% !important;
    color: #2c3131c7 !important;
  }
}

@media only screen and (min-width: 992px) {
  .card .card-log {
    position: relative;
    right: -86px;
    bottom: -20px;
  }
  time {
    position: relative !important;
    bottom: -76px !important;
    right: -58px !important;
    color: #fff;
    background: black;
    padding: 2px 3px;
  }

  .card-icons .fa-play {
    position: absolute;
    top: 38% !important;
    right: 29% !important;
    color: #2c3131c7 !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  .img-fluid {
    margin-right: -12px;
    width: 222px;
    height: 166px;
  }

  .card .card-log {
    position: relative;
    right: -238px;
    bottom: -5px;
  }
  time {
    position: absolute;
    bottom: 6px;
    left: 26rem;
    color: #fff;
    background: black;
    padding: 2px 3px;
  }

  .card-icons .fa-play {
    position: absolute;
    top: 34%;
    right: 13%;
    color: #2c3131c7 !important;
  }
}

@media only screen and (min-width: 1399px) {
  .img-fluid {
    margin-right: -12px;
    width: 248px;
    height: 173px;
  }

  .card .card-log {
    position: relative;
    right: -233px;
    bottom: -12px;
  }
  time {
    position: relative !important;
    bottom: -65px !important;
    right: -57px !important;
    color: #fff;
    background: black;
    padding: 2px 3px;
  }

  .card-icons .fa-play {
    position: absolute;
    top: 36% !important;
    right: 20% !important;
    color: #2c3131c7 !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1398px) {
  .img-fluid {
    margin-right: -12px;
    width: 222px;
    height: 166px;
  }

  .card .card-log {
    position: relative;
    right: -193px;
    bottom: -8px;
  }
  time {
    position: relative !important;
    bottom: -61px !important;
    right: -56px !important;
    color: #fff;
    background: black;
    padding: 2px 3px;
  }

  .card-icons .fa-play {
    position: absolute;
    top: 36% !important;
    right: 20% !important;
    color: #2c3131c7 !important;
  }
}
